In [1]:
import pandas as pd

## Read Last.FM data
user play counts

In [5]:
lfm_play_counts = pd.read_table('data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv', names=['user', 'artist', 'artistname', 'plays'])

user info

In [31]:
lfm_users = pd.read_table('data/lastfm-dataset-360K/usersha1-profile.tsv', names=['user', 'gender', 'age', 'country','signup'])

remove duplicate users

In [32]:
lfm_unique_users_rated = lfm_play_counts.loc[:, ['user']].drop_duplicates()

In [37]:
lfm_users_gender = lfm_unique_users_rated.merge(lfm_users.loc[:, ['user','gender']], on='user')

filter data into female and male group

In [43]:
lfm_users_F = lfm_users_gender.loc[lfm_users.gender=='f', ['user', 'gender']]
lfm_users_M = lfm_users_gender.loc[lfm_users.gender=='m', ['user', 'gender']]
lfm_users_F.head(5)

                                        user gender
0   00000c289a1829a808ac09c00daf10bc3c4e223b      f
1   00001411dc427966b17297bf4d69e7e193135d89      f
7   0000ef373bbd0d89ce796abae961f2705e8c1faf      f
8   0000f687d4fe9c1ed49620fbc5ed5b0d7798ea20      f
13  0001bd96207f323b53652bf400702719ad456d3c      f

In [44]:
lfm_users_M.head(5)

                                       user gender
3  000063d3fe1cf2ba248b9e3c3f0334845a27a6bf      m
4  00007a47085b9aab8af55f52ec8846ac479ac4fe      m
5  0000c176103e538d5c9828e695fed4f7ae42dd01      m
6  0000ee7dd906373efa37f4e1185bfe1e3f8695ae      m
9  0001399387da41d557219578fb08b12afa25ab67      m

print size of total rows

In [45]:
print(len(lfm_users_F))
print(len(lfm_users_M))

84808
241325

Sample size = 84500 rows of each data

In [46]:
size = 84500
lfm_users_F_sample = lfm_users_F.sample(n=size)
lfm_users_M_sample = lfm_users_M.sample(n=size)
print(len(lfm_users_F_sample))
print(len(lfm_users_M_sample))

84500
84500

Append two dataframe

In [47]:
lfm_users_sample = pd.concat([lfm_users_F_sample, lfm_users_M_sample], ignore_index=True)
lfm_users_sample.head(5)

                                       user gender
0  e52d5b6b70a87f17dc847743c40a239e363fd446      m
1  a6996c1f2e89d60b3716683384892d81fb4d9ed7      m
2  ef875788b4771edbb04885ecdd6ef7c255dbb91a      f
3  08b7474943915f66b5e81df6dd59121e93615847      f
4  56559b0b82e7e0167b5c423885ab659a9d30c9d0      m

Merge user id with user ratings

In [48]:
lfm_play_counts_sample = lfm_play_counts.merge(lfm_users_sample.loc[:,['user']], on='user')
lfm_play_counts_sample.head(5)

,user,artist,artistname,plays
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706

double check unique users number

In [49]:
len(lfm_play_counts_sample.loc[:, ['user']].drop_duplicates())

169000

In [50]:
lfm_play_counts_sample.to_csv('data/lastfm-dataset-360K/usersha1-artmbid-artname-plays-sample.tsv',sep='\t',header=False,index=False)