### User Gender Balance for ml-1m and last.FM datasets

In [13]:
library(dplyr)
library(readr)

In [14]:
options(repr.plot.height=5)
options(repr.matrix.max.rows=10)
options(repr.matrix.max.columns=10)

### Load MoveLens Data

In [15]:
ml_ratings = read_delim("data/ml-1m/ratings.dat", delim=":",
                        col_names=c("user", "item", "rating", "timestamp"),
                        col_types="i_i_i_i")
ml_ratings

        user item rating timestamp
1       1    1193 5      978300760
2       1     661 3      978302109
3       1     914 3      978301968
4       1    3408 4      978300275
5       1    2355 5      978824291
⋮       ⋮    ⋮    ⋮      ⋮
1000205 6040 1091 1      956716541
1000206 6040 1094 5      956704887
1000207 6040  562 5      956704746
1000208 6040 1096 4      956715648
1000209 6040 1097 4      956715569

Load user info

In [16]:
ml_users = read_delim("data/ml-1m/users.dat", delim=":",
                      col_names=c("user", "gender", "age", "occupation", "zip"),
                      col_types="i_c_c_c_c") %>%
    mutate(gender=as.factor(gender),
           age=as.factor(age),
           occupation=as.factor(occupation))
ml_users

     user gender age occupation zip
1    1    F      1   10         48067
2    2    M      56  16         70072
3    3    M      25  15         55117
4    4    M      45  7          02460
5    5    M      25  20         55455
⋮    ⋮    ⋮      ⋮   ⋮          ⋮
6036 6036 F      25  15         32603
6037 6037 F      45  1          76006
6038 6038 F      56  1          14706
6039 6039 F      45  0          01060
6040 6040 M      25  6          11106

Join gender info with user ratings

In [17]:
ml_ratings_gender = ml_ratings %>%
    inner_join(ml_users %>% select(user, gender))
ml_ratings_gender

Joining, by = "user"

        user item rating timestamp gender
1       1    1193 5      978300760 F
2       1     661 3      978302109 F
3       1     914 3      978301968 F
4       1    3408 4      978300275 F
5       1    2355 5      978824291 F
⋮       ⋮    ⋮    ⋮      ⋮         ⋮
1000205 6040 1091 1      956716541 M
1000206 6040 1094 5      956704887 M
1000207 6040  562 5      956704746 M
1000208 6040 1096 4      956715648 M
1000209 6040 1097 4      956715569 M

Filter Male and Female ratings in order to sample

In [18]:
ml_ratings_M = ml_ratings_gender %>%
    filter(gender=='M')
ml_ratings_M
ml_ratings_F = ml_ratings_gender %>%
    filter(gender=='F')
ml_ratings_F

       user item rating timestamp gender
1      2    1357 5      978298709 M
2      2    3068 4      978299000 M
3      2    1537 4      978299620 M
4      2     647 3      978299351 M
5      2    2194 4      978299297 M
⋮      ⋮    ⋮    ⋮      ⋮         ⋮
753765 6040 1091 1      956716541 M
753766 6040 1094 5      956704887 M
753767 6040  562 5      956704746 M
753768 6040 1096 4      956715648 M
753769 6040 1097 4      956715569 M

       user item rating timestamp gender
1      1    1193 5      978300760 F
2      1     661 3      978302109 F
3      1     914 3      978301968 F
4      1    3408 4      978300275 F
5      1    2355 5      978824291 F
⋮      ⋮    ⋮    ⋮      ⋮         ⋮
246436 6039 1081 4      956705989 F
246437 6039 1083 3      956706051 F
246438 6039 1086 4      956706182 F
246439 6039 1088 4      956706019 F
246440 6039 1097 4      956705811 F

Filter distinct female and male users

In [19]:
ml_distinct_F = ml_ratings_F %>%
    select(user) %>%
    distinct()
ml_distinct_F %>% 
    nrow()

[1] 1709

In [20]:
ml_distinct_M = ml_ratings_M %>%
    select(user) %>%
    distinct()
ml_distinct_M %>%
    nrow()

[1] 4331

Sample same size user in two group
Sample size is equal to totoal female size

In [21]:
size = 1500
ml_sample_M = ml_distinct_M %>%
    sample_n(size=size,replace=FALSE)
ml_sample_F = ml_distinct_F %>%
    sample_n(size=size,replace=FALSE)

In [22]:
ml_sample_M %>%
    nrow()
ml_sample_F %>%
    nrow()

[1] 1500

[1] 1500

Combine sample users with rating data

In [23]:
ml_ratings_sample_M = ml_ratings_M %>%
    inner_join(ml_sample_M)
ml_ratings_sample_F = ml_ratings_F %>%
    inner_join(ml_sample_F)

Joining, by = "user"
Joining, by = "user"

In [24]:
ml_ratings_sample_M
ml_ratings_sample_F

       user item rating timestamp gender
1      7     648 4      978234737 M
2      7     861 4      978234874 M
3      7    2916 5      978234842 M
4      7    3578 3      978234737 M
5      7    3793 3      978234737 M
⋮      ⋮    ⋮    ⋮      ⋮         ⋮
270165 6034 1345 4      956711771 M
270166 6034 3334 3      956712333 M
270167 6034 2726 5      956712258 M
270168 6034  527 4      956711771 M
270169 6034  541 5      956712258 M

       user item rating timestamp gender
1      1    1193 5      978300760 F
2      1     661 3      978302109 F
3      1     914 3      978301968 F
4      1    3408 4      978300275 F
5      1    2355 5      978824291 F
⋮      ⋮    ⋮    ⋮      ⋮         ⋮
214467 6039 1081 4      956705989 F
214468 6039 1083 3      956706051 F
214469 6039 1086 4      956706182 F
214470 6039 1088 4      956706019 F
214471 6039 1097 4      956705811 F

bind two dataframes

In [25]:
ml_ratings_sample = bind_rows(ml_ratings_sample_F %>% select(user, item, rating, timestamp),
                             ml_ratings_sample_M %>% select(user, item, rating, timestamp))
ml_ratings_sample

       user item rating timestamp
1      1    1193 5      978300760
2      1     661 3      978302109
3      1     914 3      978301968
4      1    3408 4      978300275
5      1    2355 5      978824291
⋮      ⋮    ⋮    ⋮      ⋮
484636 6034 1345 4      956711771
484637 6034 3334 3      956712333
484638 6034 2726 5      956712258
484639 6034  527 4      956711771
484640 6034  541 5      956712258

Save ml ratings to dat file

In [26]:
ml_ratings_sample %>%
    write_csv("data/ml-1m/ml-ratings-sample.csv", na="")

## Load Last.FM data
See python notebook

In [27]:
lfm_play_counts = read_csv("build/lastfm-play-counts.csv")
lfm_play_counts

Parsed with column specification:
cols(
  user = col_integer(),
  item = col_integer(),
  count = col_integer()
)

        user   item count
1       1      1    2137
2       1      2    1099
3       1      3     897
4       1      4     717
5       1      5     706
⋮       ⋮      ⋮    ⋮
6683558 358717  800 1517
6683559 358717  862 1494
6683560 358717 1516 1128
6683561 358717 5547 1126
6683562 358717  768 1094

In [28]:
lfm_users_raw = read_csv("build/lastfm-users.csv")
head(lfm_users_raw)

Parsed with column specification:
cols(
  id = col_integer(),
  key = col_character(),
  gender = col_character(),
  age = col_integer()
)

  id key                                      gender age
1 1  00000c289a1829a808ac09c00daf10bc3c4e223b f      22
2 2  00001411dc427966b17297bf4d69e7e193135d89 f      NA
3 3  00004d2ac9316e22dc007ab2243d6fcb239e707d NA     NA
4 4  000063d3fe1cf2ba248b9e3c3f0334845a27a6bf m      19
5 5  00007a47085b9aab8af55f52ec8846ac479ac4fe m      28
6 6  0000c176103e538d5c9828e695fed4f7ae42dd01 m      20

In [29]:
lfm_users = lfm_users_raw %>%
    select(user=id,gender) %>%
    mutate(gender = as.factor(toupper(gender)))
lfm_users

       user   gender
1      1      F
2      2      F
3      3      NA
4      4      M
5      5      M
⋮      ⋮      ⋮
359343 359343 M
359344 359344 M
359345 359345 M
359346 359346 M
359347 359347 M

Join user info with ratings

In [30]:
lfm_ratings_gender = lfm_play_counts %>%
    inner_join(lfm_users)
lfm_ratings_gender

Joining, by = "user"

        user   item count gender
1       1      1    2137  F
2       1      2    1099  F
3       1      3     897  F
4       1      4     717  F
5       1      5     706  F
⋮       ⋮      ⋮    ⋮     ⋮
6683558 358717  800 1517  M
6683559 358717  862 1494  M
6683560 358717 1516 1128  M
6683561 358717 5547 1126  M
6683562 358717  768 1094  M

Split data into two group based on gender

In [31]:
lfm_ratings_M = lfm_ratings_gender %>%
    filter(gender=='M')
lfm_ratings_M
lfm_ratings_F = lfm_ratings_gender %>%
    filter(gender=='F')
lfm_ratings_F

        user   item count gender
1       4      147  106   M
2       4      148   48   M
3       4      149   31   M
4       4      150   29   M
5       4      151   26   M
⋮       ⋮      ⋮    ⋮     ⋮
4506293 358717  800 1517  M
4506294 358717  862 1494  M
4506295 358717 1516 1128  M
4506296 358717 5547 1126  M
4506297 358717  768 1094  M

        user   item count gender
1       1      1    2137  F
2       1      2    1099  F
3       1      3     897  F
4       1      4     717  F
5       1      5     706  F
⋮       ⋮      ⋮    ⋮     ⋮
1568169 358713 2188 36    F
1568170 358713  827 35    F
1568171 358713 4074 34    F
1568172 358713  266 34    F
1568173 358713 1835 33    F

Check rows in order to sample

In [32]:
lfm_distinct_M = lfm_ratings_M %>%
    select(user) %>%
    distinct()
lfm_distinct_M %>% 
    nrow()

[1] 93554

In [33]:
lfm_distinct_F = lfm_ratings_F %>%
    select(user) %>%
    distinct()
lfm_distinct_F %>% 
    nrow()

[1] 33069

sample data

In [34]:
size = 33000
lfm_sample_M = lfm_distinct_M %>%
    sample_n(size=size,replace=FALSE)
lfm_sample_F = lfm_distinct_F %>%
    sample_n(size=size,replace=FALSE)

In [35]:
lfm_sample_M %>%
    nrow()
lfm_sample_F %>%
    nrow()

[1] 33000

[1] 33000

join sampled id with ratings

In [40]:
lfm_ratings_sample_M = lfm_ratings_M %>%
    inner_join(lfm_sample_M)
lfm_ratings_sample_F = lfm_ratings_F %>%
    inner_join(lfm_sample_F)

Joining, by = "user"
Joining, by = "user"

In [41]:
lfm_ratings_sample_M
lfm_ratings_sample_F

        user   item count gender
1       4      147  106   M
2       4      148   48   M
3       4      149   31   M
4       4      150   29   M
5       4      151   26   M
⋮       ⋮      ⋮    ⋮     ⋮
1590005 358717  800 1517  M
1590006 358717  862 1494  M
1590007 358717 1516 1128  M
1590008 358717 5547 1126  M
1590009 358717  768 1094  M

        user   item count gender
1       1      1    2137  F
2       1      2    1099  F
3       1      3     897  F
4       1      4     717  F
5       1      5     706  F
⋮       ⋮      ⋮    ⋮     ⋮
1564984 358713 2188 36    F
1564985 358713  827 35    F
1564986 358713 4074 34    F
1564987 358713  266 34    F
1564988 358713 1835 33    F

In [43]:
lfm_ratings_sample = bind_rows(lfm_ratings_sample_M %>% select(user, item, count),
                             lfm_ratings_sample_F %>% select(user, item, count))
lfm_ratings_sample

        user   item count
1       4      147  106
2       4      148   48
3       4      149   31
4       4      150   29
5       4      151   26
⋮       ⋮      ⋮    ⋮
3154993 358713 2188 36
3154994 358713  827 35
3154995 358713 4074 34
3154996 358713  266 34
3154997 358713 1835 33

In [44]:
lfm_ratings_sample %>%
    write_csv("data/lastfm-dataset-360K/lfm-ratings-sample.csv", na="")